

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.contenedor-chicherme{
    
    display: none
}


.contenedor-chicherme.activo{
    display: block
}


.contenedor-chicherme__titulo{
    font-size: 2.4rem;
  }


.contenedor-chicherme .btn-regresar--2 img{
    width: 20px;
}


.contenedor-chicherme__iframe {
    position: relative;
    height: 0;
    padding-bottom: 1250px;
    overflow: hidden;
}


@media screen and (min-width: 520px){
    .contenedor-chicherme__iframe {
        padding-bottom: 1350px;
    }
}


@media screen and (min-width: 620px){
    .contenedor-chicherme__iframe {
        padding-bottom: 1450px;
    }
}


@media screen and (min-width: 700px){
    .contenedor-chicherme__iframe {
        padding-bottom: 1550px;
    }
}


.contenedor-chicherme__iframe iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
} 
