

.contenedor-img-vectorial-1{
    display: none;
    width: 100%;
}


.contenedor-img-vectorial-1.activo{
    display: block
}



.contenedor-img-vectorial-1__titulo{
font-size: 2.4rem;
}
.contenedor-img-vectorial-1__iframe {
    position: relative;
    padding-bottom: 170%;
    height: 0;
    overflow: hidden;
}

.contenedor-img-vectorial-1__iframe iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}





