:root {
    --main-color-blue: #2337F1;
    --color-blue1: #4262F3;
    --color-blue2: #5E83F5;
    --color-blue3: #7AA1F7;
    --color-blue4: #98BDF9;
    --color-blue5: #B6D4FB;
    --color-blue6: #D7EAFC;
    --main-color-darkblue: #272839;
    --color-darkblue1: #262B59;
    --color-darkblue1A: #272B59;
    --color-darkblue2: #252E7D;
    --color-darkblue3: #24309A;
    --color-darkblue4: #2433b8;
    --color-darkblue5: #2335D6;
    --color-gray1: #F6F3F3;
    --color-gray2: #e7e4e7;
    --color-gray3: #B4B3B7;
    --color-gray3a: #c6c5c972;
    --color-gray4: #919097;
    --color-gray5: #6E6E78;
    --color-gray6: #494956;
    --color-bg: #E7E4E7;
    --color-naranja: #f7cd52;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    display: grid;
    grid-template: auto 1fr 150px/ 1fr;
    padding: 8%;
    background-color: var(--color-bg);
    position: relative;

}


footer {
width: 100%;
padding-top: 8%
}


.contenedor-redes {
    width: 100%;
    height: 84%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--color-gray3a);
    border-bottom:  1px solid var(--color-gray3a);
}
.contenedor-redes__icono img {
    width: 80%;
}
