
root {
    --main-color-blue: #2337F1;
    --color-blue1: #4262F3;
    --color-blue2: #5E83F5;
    --color-blue3: #7AA1F7;
    --color-blue4: #98BDF9;
    --color-blue5: #B6D4FB;
    --color-blue6: #D7EAFC;
    --main-color-darkblue: #272839;
    --color-darkblue1: #262B59;
    --color-darkblue1A: #272B59;
    --color-darkblue2: #252E7D;
    --color-darkblue3: #24309A;
    --color-darkblue4: #2433b8;
    --color-darkblue5: #2335D6;
    --color-gray1: #F6F3F3;
    --color-gray2: #e7e4e7;
    --color-gray3: #B4B3B7;
    --color-gray3a: #c6c5c972;
    --color-gray4: #919097;
    --color-gray5: #6E6E78;
    --color-gray6: #494956;
    --color-bg: #E7E4E7;
    --color-bg-clic: #e1dee1;
    --color-naranja: #f7cd52;
}


.contenedor-cocuy {
    display: none;
    width: 100%;
    height: auto;
    transform-origin: 0 0;

}

.contenedor-cocuy.activo {
    display: block
}



.contenedor-cocuy__titulo{
    font-size: 2.4rem;
    font-weight: 300;
}

.contenedor-cocuy__descripcion{
    height: auto;
}


.contenedor-canvas{
width: 100%;    
height: 40px;
position: relative;
}

.contenedor-canvas .capa1 {
    width: 100%;
    position: absolute;
    z-index: 50;
}


.contenedor-canvas .capa2 {
    width: 100%;
    position: absolute;
    z-index: 40;
}

.contenedor-canvas .capa3 {
    width: 100%;
    position: absolute;
    z-index: 30;
}

.contenedor-canvas .capa4 {
    width: 100%;
    position: absolute;
    z-index: 20;
}


.contenedor-canvas .capa5 {
    width: 100%;
    position: absolute;
    z-index: 10;
}


.contenedor-cocuy__img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
}

.contenedor-cocuy__pie-de-foto{
    font-size: .9rem;
    margin-bottom: 5%;
}


.centrar {
    height: auto;
}


.centrar-btn-play-pause img {
   /* padding-top: 6%; */
   display: block;
   margin: 0 auto;
}