

:root {
  --color-gray1: #F6F3F3;
  --color-gray2: #e7e4e7;
  --color-gray3: #B4B3B7;
  --color-bg: #E7E4E7;

}

  .contenedor-vlm {
    width: 100%;
    display: none;
    flex-direction: column;
  }

  .contenedor-vlm.activo {
    display: flex
  }


  .contenedor-vlm__titulo{
    font-size: 2.4rem;
    font-weight: 400;

  }


  .contenedor-vlm__img-png{
    width: 100%;
    margin-top: 25px;

  }


  .contenedor-vlm__pie-de-isometrica{
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }


  .contenedor-vlm__isometrica-svg{
    width: 100%;
  }


  .contenedor-vlm__pie-isometrica-svg{
    margin-top: 0;
    font-size: 1.2rem;
  }



  .contenedor-vlm__img-vlm {
    width: 100%;
  }

  .contenedor-vlm__img-vlm img{
    width: 100%;
  }

  .contenedor-vlm__img-vlm p {
    margin-top: 0;
    font-size: 1.2rem;
  }


.contenedor-vlm__boton{
  display: flex;
  justify-content: center;
  padding: 20px 0 40px 0;
  background-color: transparent;
  border: none;
  outline: none;
}


.boton-play-pause img {
  filter: drop-shadow(1px 1px 1px var(--color-gray3)) drop-shadow(-1px -1px 1px var(--color-gray1)); 
  width: 35px;
}


.boton-play-pause p {
  font-size: 2rem;
  text-align: center;
}


